html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .best-seller-slider {
     padding:20px;
      height: 400px;
      
    }

    .product-cart {
      text-align: center;
      font-size: 18px;
      /* background: #fff; */
      display: block;
      justify-content: center;
      align-items: center;
    }
    .product-image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      
    }

    .product-name {
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
    }

    .product-price {
      font-size: 14px;
      color: #e60023;
      font-weight: bold;
    }

    .product-rating {
      color: gold;
      font-size: 14px;
    }
    .swiper-button-next {
        right: 30px;
        
      }

      .swiper-button-prev {
        left: 30px;
       
      }

    @media (max-width: 760px) {
      .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
      }

      .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
      }
    }